/*
 * {{properCase container }}
 */

import {bindActionCreators} from 'redux';
import {connect} from 'react-redux';
import React, {Component} from 'react';
import * as {{properCase container}}Actions from '../../actions/{{dashCase container}}';

export class {{properCase container}} extends Component {
    render() {
        return (
            <div>
            </div>
        );
    }
}

{{#if wantActionsAndReducer}}
function mapStateToProps(state) {
    return {
    };
}
{{/if}}

function mapDispatchToProps(dispatch) {
    return bindActionCreators({{properCase container}}Actions, dispatch);
}

{{#if wantActionsAndReducer}}
export default connect(mapStateToProps, mapDispatchToProps)({{properCase container }});
{{else}}
export default connect(null, mapDispatchToProps)({{properCase container }});
{{/if}}

